*{
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    background-color: #f1f1f1;
    height: 100vh;
}

.container h1{
    color: aqua;
}

.timers{
    display: flex;
    font: 55px bold;
    color: #333;

}

.time{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: crimson;
    min-width: 90px;
}

.sepator{
    padding: 0 10px;
    color:dimgrey ;
}

#miliseconds{
    padding: 19px 0 2px; 
    font-size: 35px;
    color: red;
}

.buttons{
    display: flex;
    gap: 1rem;
}

.btn{
    padding: 10px 12px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all 1.2 ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}

#startBtn{
    background-color: #175cff;
    color: white;
}

#pauseBtn, #resumeBtn{
    display: none;
}